
<ion-header>

  <ion-navbar>
    <ion-title>My Contacts</ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="openInviteContactPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <div *ngIf="contactsEmpty()">There are no saved contacts.</div>
  <div *ngIf="!contactsEmpty()">

  

      <ion-row *ngFor="let contact of contacts">

        <ion-col>
          {{contact?.name}} 
        </ion-col>
        <ion-col>
          {{contact?.email}} 
        </ion-col>
      </ion-row>

   
  </div>
</ion-content>
