<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      pline
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openContactsPage()">
        Contacts
      </button>
      <button ion-item (click)="openLocationsPage()">
        Places
      </button>
      <button ion-item>
        Profile Settings
      </button>
      <button ion-item>
        Terms & Privacy
      </button>
      <button ion-item>
        Log Out
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content #content>

  <div #maphome id="maphome"></div>

  <ion-row text-center>
    <ion-col>
      <button ion-button clear (click)="openAddLocationPage()">
          <ion-icon name="ios-map-outline"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear (click)="openInviteContactPage()">   
         <ion-icon name="ios-person-add-outline"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button clear>
        <ion-icon name="ios-pin-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>


  <div *ngIf="messagesEmpty()">There are no check-ins or check-outs.</div>
  <div *ngIf="!messagesEmpty()">
 
   <ion-list>
      <ion-item *ngFor="let message of messages">
        <ion-avatar item-left>
          <img src="assets/img/avatar_izzy.png">
        </ion-avatar>

        <h3> {{message?.user.name}} </h3>
        <p>
          <span [ngSwitch]="message?.messageType">
          <span *ngSwitchCase="0">arrived @</span>
          <span *ngSwitchCase="1">left</span>
          <span *ngSwitchCase="2">is still @</span>
          <span *ngSwitchCase="3">is not @</span>
          </span>
          {{message?.location?.name}}
        </p>
        <ion-note item-right>{{message?.timeStamp|timestampPipe}}</ion-note>
      </ion-item>
    </ion-list>

  </div>

</ion-content>