page-home {

    #maphome {
        //background: #ececec no-repeat fixed top;
        width: 100%;
        height: 45%;

     
      }
    
    ion-note{
        font-size: 13px;
    }

    

}

.alert-btn{
        font-size: 10px;
    }
