<ion-header>

  <ion-navbar>
    <ion-title>My Places</ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="openAddLocationPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content padding>

  <div *ngIf="locationsEmpty()">There are no saved places.</div>
  <div *ngIf="!locationsEmpty()">

  
<ion-list>
      <ion-item *ngFor="let location of locations">

        
         <h2> {{location?.name}} </h2>
         <p> {{location?.address}} </p>
         <button ion-button color="danger" outline icon-only (click)="removeLocation(location)" small item-right><ion-icon name="trash"></ion-icon></button>
        
      </ion-item>
</ion-list>
   
  </div>

</ion-content>