<ion-header>

  <ion-navbar>
    <ion-title>My Places</ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="openAddLocationPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content #content padding>

  <div *ngIf="locationsEmpty()">There are no saved places.</div>
  <div *ngIf="!locationsEmpty()">

  

      <ion-row *ngFor="let location of locations">

        <ion-col>
          {{location?.name}} 
        </ion-col>
        <ion-col>
          {{location?.address}} 
        </ion-col>
        <ion-col>
          <button ion-button icon-only (click)="removeLocation(location)"><ion-icon name="trash"></ion-icon></button>
        </ion-col>
      </ion-row>

   
  </div>

</ion-content>